<!-- Header -->
<% include templates/header.ejs %>
<!-- Sidebar -->
<% include templates/sidebar.ejs %>
<!--// --> 
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-home"></i>
            <a href="/dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Location</li>
    </ol>
    <div class="row">
        <div class="col-md-12 column">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Add city details</h3>
                </div>
                <form action="/addCity" method="post">
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Country<span class="text-danger">*</span></label><br/>
                                <select class="form-control" name="country">
                                    <option value="">--- Select Country ---</option>
                                    <%
                                        if(countrys.length > 0)
                                        {
                                            countrys.forEach(function(data)
                                            {
                                                %>
                                                    <option value="<%= data.country %>"> <%= data.country %> </option>
                                                <%
                                            }) 
                                        }
                                    %>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label>City<span class="text-danger">*</span></label>
                                <input type="text" name="city" id="city" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 form-group">
                                <button class="btn btn-primary btn-sm w-100" type="submit" ><i class="fas fa-fw fa-save"></i> Save</button>
                                  
                            </div>
                            <div class="col-md-2 form-group">
                                <a href="/city" class="btn btn-warning btn-sm w-100"><i class="fas fa-fw fa-ban"></i> Cancel</a>
                            </div>
                            <div class="col-md-2 form-group">
                                <a href="/city" class="btn btn-warning btn-sm w-100"><i class="fas fa-fw fa-ban"></i> Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>